* {
    box-sizing: border-box; 
  }
  body {
    margin: 0;
    background-color:#f8f8ff;
    width: auto;
    
  }
  #main {
    display: flex;
    min-height: 80vh;
    height: auto;
    
  }
  #field {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    height: auto;
  }

  .book{
    margin: 20px;
    background:#ededf7;
    height: auto;
    width: 53vw;
    min-height: 15vh;
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*padding: 1em;*/
    align-content: flex-start;
    word-wrap: break-word;
  }

  #main > #field {
    background: #f8f8ff;
    flex: 1;
  }
  
  #header, #field, #left, #right, #inp, #search {
    padding: 1em;
  }

  header {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
  }

  #header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f8ff;
    height: 10vh;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 20px;
  }
  
  #inp, #search {
    /*margin: 5px;*/
    margin-left: 0.5vw;
    margin-right: 0.5vw;
  }

  #inp {
    height: 7vh;
    width: 41vw;
    background: #f8f8ff;
    max-height: 50px; 
  }

  #search {
    background: #9898ec;
    height: 7vh;
    width: 5vw;
    min-height: 15px;
    min-width: 50px;
    max-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  #title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
  }

  #login {
      position: fixed; 
      top: 20px; 
      right: 20px;
  }