<html>
<head>
    <link id="favicon" rel="icon" type="image/x-icon" href="static/images/favicon.ico">
    <link rel="stylesheet" href="static/css/login.css">
    <title>KREKER</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="static/js/login.js"></script>
</head>
<body>
    <div class="placeholder"></div>
        <div name="main_box">
            <form method="POST" action="/login">
                <input class="text_input" type="email" name="username" placeholder="Email" required/>
                <input class="text_input" type="password" name="password" placeholder="Password" minlength="6" maxlength="12" required/>
                <input class="button" type="submit" name="Login" style="cursor: pointer"/>
                <div name="auth_false_warning"></div>
                    <div id="registrtion_button" style="margin-top: 20px; text-align: center; cursor: pointer; color: rgb(182, 151, 10);" >
                        Registration
                    </div>
            </form>
        </div>
        <img src="/static/images/image.png" alt="some image)" width="300" height="200">
    <div class="placeholder"></div>
</body>
</html>