<html>
<head>
    <title>KREKER</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="static/css/registration_page.css">
    <script src="static/js/registration_page.js"></script>
</head>
<body>
    <div class="placeholder"></div>
        <div name="main_box">
                <input class="text_input" type="email" name="username" placeholder="Email" required/>
                <input class="text_input" type="text" name="name" placeholder="Name" required/>
                <input class="text_input" type="password" name="password" placeholder="Password" minlength="6" maxlength="12" required/>
                <input id="submit" class="button" type="submit" name="Registration" style="cursor: pointer"/>
                <div name="registration_false_warning"></div>  
        </div>
    <div class="placeholder"></div>
</body>
</html>